.mission-main-card {
  padding: 3vw 3vw 3vh 3vw;
  background-color: whitesmoke;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #6600ff;
  /* background: radial-gradient(at left top, #34dd88, #38d9c2); */
  background: radial-gradient(at left top, #61876E, #1C6758);

  color: var(--white);
  font-weight: 600;
  padding-left: 35vw;
  align-items: right;
  justify-content: end;
  @media (max-width: 1400px) {
    padding: 3vh 5vw;
  }
}

.mission-main-card ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  text-align: justify;
  padding-left: 1.2vw;
  overflow: hidden; 
  max-height: 230px;

}

.mission-main-card ul li {
  list-style: disc;
  padding: 8px;
  /* @media (max-width: 1400px) {
    display: list-item;
  } */
}

@media (max-width: 1400px) {

  .mission-main-card ul li:nth-child(2){
    display: none;
  }
  .mission-main-card ul li:nth-child(3){
    display: none;
  }
  .mission-main-card ul li:nth-child(4){
    display: none;
  }
  
}

.mission-main-card > .heading {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 0.2em;
  color: azure;
  @media (max-width: 910px) {
    font-size: 48px;
  }
}

.intro {
  text-align: justify;
}

.mission-main-card > .login-container {
  display: flex;
  padding-top: 8px;
  align-items: right;
  justify-content: right;
  

  @media (max-width: 910px) {
    padding-right: 0;
    align-items: left;
    justify-content: left;
  }
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #545ce4;
  color: aliceblue;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
