.outerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  border: 1px solid silver;
  border-radius: 6px;
  overflow: hidden;
  margin: 1% 0 0 0;
  padding: 1%;

  align-items: center;
  background-color: var(--white);
  @media (max-width: 900px) {
    width: 100%;
    margin: 2% 0;
  }
}

.outerContainer:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.HeadConatiner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  
}
.title {
  width: 90%;
  font-size: small;
  font-weight: 500;
  padding: 0 0 0 2%;
  text-align: justify;
  @media (max-width: 500px) {
    width: 80%;
  }
}
.textContainer {
  font-size: 16px;
  letter-spacing: 1px;
  /* float: left; */

  width: 95%;
  margin-right: 1%;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  
  @media (max-width: 900px) {
    width: 100%;
  }
}

.textContainer  .description {
  margin-top: 2%;
  font-size: 13px;
  color: grey;
  text-align: left;
  padding-left: 25px;
  /* border: red solid; */
  @media (max-width:900px) {
    font-size: 11px;
  }
}

.blinking-div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 2%;
  background-color: #D71313;
  animation: blink-animation 1s infinite; 
  @media(max-width: 500px){
    width:8px;
    height: 8px;
  }
}

@keyframes blink-animation {
  0%, 50%, 100% {
    opacity: 1; 
  }
  25%, 75% {
    opacity: 0; 
  }
}
