.deanMain {
  background-image: url("./students2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  user-select: none;
  position: relative;
}
.deanMask::before {
  display: block;
  position: absolute;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0,
    #fff 80%
  );
  /* margin-top: 150px; */
  margin-bottom: -150px;
  height: 100%;
  width: 100%;
  content: "";
} 

.deanMain > .deanMask{
  display: flex;
}
.deanMain .deanContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 75px 75px;
  z-index: 1;
  width: 120%;
}
.deanContent .deanTitle {
  font-size: 60px;
  font-weight: 700;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  
  @media only screen and (max-width: 910px) {
    font-size: 35px;
  }
  
}
.deanContent .deanQuote {
  font-size: large;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: var(--primary-color);
  padding-top: 2%;
  font-weight: 500;
  /* border: red solid 1px; */
  gap: 10px;
  line-height: 1.5;
}
.deanContent  > .flex-row {
    display: flex;
    align-items: center;
    padding-top: 5%;
    /* gap: 100px; */
}
.deanContent > .flex-row > .more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: var(--yellow);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.deanMain > .deanMask > .deanImage{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deanMain > .deanMask > .deanImage > img{
  /* margin-right: 20px; */
  height: 100%;
  z-index: 1;
  /* margin-bottom: -40px; */
}


@media (max-width: 1300px) {
  .deanMain .deanContent {
    padding: 50px;
    width: 100%;
    /* border: red solid; */
  }
  .deanContent .deanTitle {
    font-size: 30px;
  }
  .deanContent .deanQuote {
    width: 100%;
    font-size: small;
  }
  .deanmain > .deanMask > img{
    object-fit: cover;
  }
  
}
@media (max-width: 914px) {

  .deanMain {
    display: flex;
    flex-wrap: wrap;
  }
  .deanMain > .deanMask{
    flex-wrap: wrap-reverse;
  }
  .deanContent .deanTitle {
    color: var(--white);
  }
  .deanContent .deanQuote {
    color: var(--white);
  }
  .deanMask::before{
    background-image: none;
  }
}